@import "fonts.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat-medium, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #eee;
}

.container {
    width: 70%;
    margin: 0 auto;
}

header {
    background: #27ae60;
    padding: 10px 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 25px;
}

nav ul li a {
    color: #eee;
    text-decoration: none;
    transition: .3s ease;
}

nav ul li a:after {
    display: block;
    height: 2px;
    content: "";
    transform: scaleX(0);
    background: #fff;
    transform-origin: 100% 50%;
    transition: transform .25s ease-in-out;
}

nav ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: 0 50%
}

footer {
    background: #27ae60;
    padding: 25px;
    color: #eee;
    margin-top: 40px;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer img {
    width: 200px;
    height: 200px;
}

footer ul {
    margin-top: 15px;
    list-style: none;
}

footer ul li {
    line-height: 40px;
}

footer ul li a {
    color: #ddd;
    transition: .3s ease;
    text-decoration: none;
}

footer ul li a:hover {
    color: #fff;
}

footer ul li.social a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    border: 2px solid #2ecc71;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}

footer ul li.social a.facebook:hover {
    background: #4267B2;
}

footer ul li.social a.instagram:hover {
    background: #C13584;
}

footer ul li.social a.twitter:hover {
    background: #1DA1F2;
}

footer ul li.social a.youtube:hover {
    background: #FF0000;
}

.to_top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 47px;
    background: #27ae60;
    border-radius: 50%;
    border: 3px solid #2ecc71;
    color: #eee;
    font-size: 20px;
}

.to_top i {
    transition: .3s ease;
}

.to_top:hover i{
    transform: translateY(-5px);
}

button {
    cursor: pointer;
}

input:focus, textarea:focus, button:focus, select:focus {
    outline: 0;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25)
}

input, textarea, select, option {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    color: #495057;
    background-color: #fff;
    transition: .3s ease;
    margin-bottom: 25px;
}

input::placeholder, textarea::placeholder {
    color: #7b838a;
}

textarea {
    resize: vertical;
}

.form_group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

form textarea {
    height: 200px;
    min-height: 200px;
}

.send {
    background: #2980b9;
    font-size: 18px;
    border: 2px solid #2677ad;
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
    transition: .3s ease;
}

.send:hover {
    box-shadow: 0px 0px 23px -11px rgba(0,0,0,0.75);
}

form h2 {
    margin: 25px 0;
}